* {
    margin: 0;
    padding: 0;
}

main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    font-size: small;
}

.image{
        width: 50px;
        height: 50px;
}

img{
    width: 100%;
    height: 100%
}

.container{
    padding: 10rem 0;
    width: 600px;
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.selected{
    color: blue;
}

.txt{
    display: flex;
    flex-direction: column;
    gap:10px;
}

h3{
    font-size: medium;
    font-weight: 200;
}

ul{
    list-style: inside;
    padding: 25px;;
}

